<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    {{>header}}
    <div class="content">
        <div>
            <div class="add">+</div>
        </div>
        <h4>Tài liệu của bạn</h4>
        <div class="my-docs">
            <div class="item">Tài liệu 1</div>
            <div class="item">Tài liệu 2</div>
            <div class="item">Tài liệu 3</div>
            <div class="item">Tài liệu 4</div>
            <div class="item">Tài liệu 5</div>
            <div class="item">Tài liệu 6</div>
            <div class="item">Tài liệu 6</div>
            <div class="item">Tài liệu 6</div>
            <div class="item">Tài liệu 6</div>
            <div class="item">Tài liệu 6</div>
            <div class="item">Tài liệu 6</div>
        </div>
    </div>
    <script src="/scripts/home.js"></script>
</body>
</html>