<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/inp.css">
</head>
<body>
    {{>header}}
    <div class="content">
        <div>
            <h4>Tiêu đề</h4>
            <input id="inp-title" type="text">
        </div>
        <div class="text-contain">
            <h4>Nội dung</h4>
            <textarea id="inp-paragraph"></textarea>
        </div>
        <div class="btn-contain">
            <button>Xác nhận</button>
        </div>
    </div>
    <script src="/scripts/paragraph.js"></script>
</body>
</html>