<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login-page">
        <div class="bg">
            <img src="/img/login-bg.jpg" alt="">
            <div></div>
        </div>
        <div class="container">
            <div class="login-area">
                <header>
                    <img src="/icon/app-icon.jpg" alt="">
                    <span>Đăng nhập</span>
                </header>
                <form>
                    <label>Tên đăng nhập</label>
                    <input type="text" name="username">
                    <label>Mật khẩu</label>
                    <input type="password" name="password">
                    <p>Quên mật khẩu?</p>
                    <input type="submit" value="Đăng nhập">
                    <p>Nếu bạn chưa có tài khoản <span>Đăng kí tại đây</span></p>
                </form>
            </div>
        </div>
    </div>
<script src="/scripts/login.js"></script>
</body>
</html>