<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/preview.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
</head>
<body>
    {{>header}}
    <div class="contain">
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Từ</th>
                        <th>Từ loại</th>
                        <th>Phiên âm</th>
                        <th>Mô tả</th>
                        <th>Tiếng việt</th>
                        <th>Ví dụ</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
        <div class="btn-area">
            <button class="btn-excel">Xuất Excel</button>
        </div>
    </div>
    <div class="dialog">
        <div class="dialog-container">
            <img src="/img/loading.gif" alt="">
            <h3>Đang xử lý dữ liệu...</h3>
        </div>
    </div>
    <script src="/scripts/preview.js"></script>
</body>
</html>
