<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/select.css">
</head>
<body>
    {{>header}}
    <div class="contain">
        <div class="words">

        </div>
        <div class="buttons">
            <button class="btn back">Trở lại</button>
            <button class="btn confirm">Xác nhận</button>
            <button class="btn auto-select">Chọn các từ A1</button>
        </div>
    </div>
    <script src="/scripts/select.js"></script>
</body>
</html>