<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
    <div class="light-1"></div>
    <div class="light-2"></div>
    <div class="container">
        <div class="app-intro">
            <img class="icon" src="/icon/app-icon.png" alt="app-icon">
            <h1>Vocabulary</h1>
            <p>Nâng tầm vốn từ vựng của bạn với công nghệ AI thông minh và chính xác.</p>
            <button>Trải nghiệm ngay</button>
        </div>
        <div class="app-intro">
            <img class="icon" src="/icon/ai.png" alt="ai">
            <div class="gemini-info">
                <img class="icon-primary" src="/icon/gemini.png" alt="gemini">
                <h1>Google gemini</h1>
            </div>
        </div>
    </div>
    <script src="/scripts/welcome.js"></script>
</body>
</html>